@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.table {
    width: 1000px;
    margin: 15px auto;
}

.table__switch {
    margin: 0 50px 10px;
}

.table__switch * {
    cursor: pointer;
}

.table__header {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px 0;
}

.table__header,
.table__body {
    padding-left:60px ;
}

.table__row {
    display: flex;
    padding: 5px 0;
    cursor: pointer;

    &:hover {
        background-color: blanchedalmond;
    }
}

.table__row-group--hidden {
    display: none;
}

.table__col {
    width: 25%;

    &:nth-child(3) {
        width: 35%;
    }

    &:nth-child(4) {
        width: 15%;
    }
}

.parent-item {
    position: relative;

    &::after {
        content: '\25BC';
        font-size: 0.75rem;
        position: absolute;
        left: -28px;
        top: 7px;
        cursor: pointer;
        pointer-events: all;
        transform: rotate(-90deg);
        transition: all 0.1s ease-in-out;
    }
}

.parent-item.parent-item--opened {
    &::after {
        transform: initial;
        color: gray;
        transition: all 0.1s ease-in-out;
    }
}

.parent-item.child-item::after {
    left: -15px;
}

.child-item {
    padding-left: 20px;
    position: relative;

    &::before {
        content: '\251C';
        font-size: 1.8rem;
        color:lightgray;
        position: absolute;
        left: -5px;
        top: -2px;
    }
}

.child-item:last-child::before {
    content: '\2514';
}

.child-item--hidden {
    display: none;
}

[data-status="active"] > .table__row > .table__col:last-child {
    color: forestgreen;
}

[data-status="inactive"] > .table__row > .table__col:last-child {
    color: gray;
}

.alert-message {
    background-color: rgb(248, 215, 218);
    color: rgb(114, 28, 36);
    border: 2px solid rgb(245, 198, 203);
    border-radius: 0.25rem;
    padding: 12px 20px;
    margin: 20px auto;
    width: 950px;
}